<div class="success-container">
    <div class="success-icon">
        <svg width="24" height="24" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
            <path
                d="M16 8a8 8 0 1 1-16 0 8 8 0 0 1 16 0zM8 4a4 4 0 0 0-4 4 4 4 0 0 0 4 4 4 4 0 0 0 4-4 4 4 0 0 0-4-4zM4.707 7.293a1 1 0 0 1 1.414 0L8 8.586l2.879-2.879a1 1 0 0 1 1.414 1.414l-3.5 3.5a1 1 0 0 1-1.414 0l-1.5-1.5a1 1 0 0 1 0-1.414z" />
        </svg>
    </div>
    <div class="success-message">
        {{ message }} - {{ name }} - {{ course }}
    </div>
</div>